body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #000;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  aspect-ratio: 1 / 1;
  cursor: none;
}
.base-image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  object-fit: cover;
  pointer-events: none; /* ⭐ THIS IS THE KEY */
}

.final-image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  object-fit: cover;

  clip-path: circle(0px at 50% 50%);
  transition: clip-path 0.1s ease;
}

#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

@media (max-width: 768px) {
  .container {
    max-width: 90%;
  }
}

@media (max-width: 480px) {
  .container {
    max-width: 100%;
  }
}

